---
layout: ""
page_title: "Provider: Redshift"
description: |-
  The Redshift provider provides configuration management resources for AWS Redshift.
---

# Redshift Provider

The Redshift provider provides configuration management resources for
[AWS Redshift](https://aws.amazon.com/redshift/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
